.memproto, dl.reflist dt{
    background-image: none;
    background-color: #0c948f;
    color: #ffffff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.29);
}

.tabs, .tabs2, .tabs3 {
    background-image: none;
    background-color: #0c948f;
}

.tablist a {
    background-image: none;
    background-repeat: no-repeat;
    /* color: #283A5D; */
    /* text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9); */
    /* text-decoration: none; */
    /* outline: none; */
}

.tablist li {
    background-image: none;
    background-color: #0c948f;
}

.memproto, dl.reflist dt {
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.29);
}

.memname {
    text-shadow: 0px 1px 1px rgba(58, 58, 58, 0.29);
}

.paramname {
    color: #383838;
    text-shadow: 0px 1px 1px rgba(230, 230, 230, 0.29);
}

.paramtype a.el{
    color: #5cceba;
}

.paramtype a.el:visited{
    color: #5cceba;
}

a.el:visited{
    color: #088273;
}

a.el {
    color: #088273
}

.tablist li.current a {
    background-image: none;
    background-repeat: no-repeat;
    background-color: #206d6a;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}

.tablist a:hover {
    background-image: none;
    background-repeat: no-repeat;
    text-decoration: none;
    background-color: #21928e;
}

a {
    color: #337faf;
}

.memItemRight a.el:visited{
    color: #088273;
}

.memdoc, dl.reflist dd {
    background-image: none;
}

.tablist a {
    color: #ffffff;
    text-shadow: 0px 1px 1px rgba(84, 84, 84, 0.9);
}

.icon {
    background-color: #757575;
}

.contents .mdescRight a:visited{
    color: #088273;
}

.icondoc {
    background-image: none;
}

h2.groupheader {
    border-bottom: 1px solid #313131;
    color: #313131;
}

div.ah, span.ah {
    background-color: white;
    font-weight: bold;
    color: rgb(255, 255, 255);
    box-shadow: none;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0c948f), to(#088273));
    border-color: rgb(101, 101, 101);
    border-radius: 0.25em;
}

div.qindex, div.navtab {
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

hr.footer {
    height: 0px;
    border: none;
    border-top: 1px solid #ffffff;
}

address.footer {
    visibility: hidden;
}

#top{
    width: 1200px;
    margin: 0px auto 0px auto;
}

div.header {
    background-image: none;
    background-repeat: no-repeat;
    background-color: #F9FAFC;
    width: 1200px;
    margin: 0px auto 0px auto;
    border-bottom: 1px solid #C4CFE5;
}

div.contents {
    background-image: none;
    background-repeat: no-repeat;
    background-color: #F9FAFC;
    width: 1200px;
    margin: 0px auto 0px auto;
    border-bottom: 1px solid #C4CFE5;
}

hr.footer {
    margin: 0px auto 0px auto;
    width: 1200px;
    height: 0px;
    border: none;
    border-top: 1px solid #ffffff;
}

address.footer {
    visibility: hidden;
}

.memitem {
    padding: 0;
    margin-bottom: 10px;
    margin-right: 5px;
    -webkit-transition: none;
    transition: none;
    transition-property: none;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: initial;
}

#MSearchBox{
    right: initial;
}

.memname a.el:visited {
    color: #5cceba;
}

.memname a.el {
    color: #5cceba;
}